## Redes Neurais Artificiais 2020.1

**Disciplina**: Redes Neurais Artificiais 2020.1  
**Professora**: Elloá B. Guedes (ebgcosta@uea.edu.br)  
**Github**: http://github.com/elloa  

### Explorando uma base de dados

Nesta atividade prática iremos explorar a seguinte base de dados **_Forest Cover Type_**

1. Obtenha esta base de dados no seguinte link: https://www.kaggle.com/uciml/forest-cover-type-dataset/download
2. Consulte a documentação oficial da base de dados: https://archive.ics.uci.edu/ml/datasets/covertype
3. **Responda**:  
  3.1 O que é cada exemplo na base de dados?  
  3.2 Em que ano ela foi obtida?  
  3.3 Quem foram os responsáveis pela criação desta base de dados?

## 3.1 O que é cada exemplo na base de dados?
Cada exemplo na base de dados representa uma região de 30m x 30m de cobertura florestas.

## 3.2 Em que ano ela foi obtida?
Foi obtida em 1998.

## 3.3 Quem foram os responsáveis pela criação desta base de dados?
Jock A. Blackard (jblackard '@' fs.fed.us), Dr. Denis J. Dean (denis.dean '@' utdallas.edu) e Dr. Charles W. Anderson (anderson '@' cs.colostate.edu).

### Manipulando a base de dados

1. Abra a base de dados com o pandas
2. Imprima os 10 primeiros exemplos pertencentes à esta base
3. Imprima os 10 últimos exemplos pertencentes à esta base
4. Quantos exemplos esta base de dados possui?
5. Quais são os atributos que a base de dados possui e quais seus tipos?
6. Há algum dado faltante na base?
7. De acordo com a documentação da base de dados, qual o significado dos atributos do tipo "Soil Type"?  
  7.1 Este atributo é quantitativo ou qualitativo?  
  7.2 Qual o tipo de codificação utilizada para denotar este atributo? Consulte a seguinte referência:  
  * https://pbpython.com/categorical-encoding.html

In [ ]:
## Reservado para a importação de bibliotecas
from google.colab import drive
import pandas as pd

# 1. Abrindo a base de dados com pandas

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/Shared drives/RNA/covtype.csv')

# 2. 10 primeiros itens pertencentes à esta base

In [ ]:
df.head(10)

   Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  Cover_Type
0       2596      51      3  ...            0            0           5
1       2590      56      2  ...            0            0           5
2       2804     139      9  ...            0            0           2
3       2785     155     18  ...            0            0           2
4       2595      45      2  ...            0            0           5
5       2579     132      6  ...            0            0           2
6       2606      45      7  ...            0            0           5
7       2605      49      4  ...            0            0           5
8       2617      45      9  ...            0            0           5
9       2612      59     10  ...            0            0           5

[10 rows x 55 columns]

# 3. 10 ultimos itens pertencentes à esta base

In [ ]:
df.tail(10)

        Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  Cover_Type
581002       2419     168     25  ...            0            0           3
581003       2415     161     25  ...            0            0           3
581004       2410     158     24  ...            0            0           3
581005       2405     159     22  ...            0            0           3
581006       2401     157     21  ...            0            0           3
581007       2396     153     20  ...            0            0           3
581008       2391     152     19  ...            0            0           3
581009       2386     159     17  ...            0            0           3
581010       2384     170     15  ...            0            0           3
581011       2383     165     13  ...            0            0           3

[10 rows x 55 columns]

# 4. Quantidade de exemplos na base

In [ ]:
print('Quantidade de dados:', len(df))

Quantidade de dados: 581012

# 5. Atributos e tipos de dados da base

In [ ]:
print('Atributos:', df.columns.values)

print('\nTipos dos dados:')
print(df.dtypes)

Atributos: ['Elevation' 'Aspect' 'Slope' 'Horizontal_Distance_To_Hydrology'
 'Vertical_Distance_To_Hydrology' 'Horizontal_Distance_To_Roadways'
 'Hillshade_9am' 'Hillshade_Noon' 'Hillshade_3pm'
 'Horizontal_Distance_To_Fire_Points' 'Wilderness_Area1'
 'Wilderness_Area2' 'Wilderness_Area3' 'Wilderness_Area4' 'Soil_Type1'
 'Soil_Type2' 'Soil_Type3' 'Soil_Type4' 'Soil_Type5' 'Soil_Type6'
 'Soil_Type7' 'Soil_Type8' 'Soil_Type9' 'Soil_Type10' 'Soil_Type11'
 'Soil_Type12' 'Soil_Type13' 'Soil_Type14' 'Soil_Type15' 'Soil_Type16'
 'Soil_Type17' 'Soil_Type18' 'Soil_Type19' 'Soil_Type20' 'Soil_Type21'
 'Soil_Type22' 'Soil_Type23' 'Soil_Type24' 'Soil_Type25' 'Soil_Type26'
 'Soil_Type27' 'Soil_Type28' 'Soil_Type29' 'Soil_Type30' 'Soil_Type31'
 'Soil_Type32' 'Soil_Type33' 'Soil_Type34' 'Soil_Type35' 'Soil_Type36'
 'Soil_Type37' 'Soil_Type38' 'Soil_Type39' 'Soil_Type40' 'Cover_Type']

Tipos dos dados:
Elevation                             int64
Aspect                                int64
Slope                                 int64
Horizontal_Distance_To_Hydrology      int64
Vertical_Distance_To_Hydrology        int64
Horizontal_Distance_To_Roadways       int64
Hillshade_9am                         int64
Hillshade_Noon                        int64
Hillshade_3pm                         int64
Horizontal_Distance_To_Fire_Points    int64
Wilderness_Area1                      int64
Wilderness_Area2                      int64
Wilderness_Area3                      int64
Wilderness_Area4                      int64
Soil_Type1                            int64
Soil_Type2                            int64
Soil_Type3                            int64
Soil_Type4                            int64
Soil_Type5                            int64
Soil_Type6                            int64
Soil_Type7                            int64
Soil_Type8                            int64
Soil_Type9                            int64
Soil_Type10                           int64
Soil_Type11                           int64
Soil_Type12                           int64
Soil_Type13                           int64
Soil_Type14                           int64
Soil_Type15                           int64
Soil_Type16                           int64
Soil_Type17                           int64
Soil_Type18                           int64
Soil_Type19                           int64
Soil_Type20                           int64
Soil_Type21                           int64
Soil_Type22                           int64
Soil_Type23                           int64
Soil_Type24                           int64
Soil_Type25                           int64
Soil_Type26                           int64
Soil_Type27                           int64
Soil_Type28                           int64
Soil_Type29                           int64
Soil_Type30                           int64
Soil_Type31                           int64
Soil_Type32                           int64
Soil_Type33                           int64
Soil_Type34                           int64
Soil_Type35                           int64
Soil_Type36                           int64
Soil_Type37                           int64
Soil_Type38                           int64
Soil_Type39                           int64
Soil_Type40                           int64
Cover_Type                            int64
dtype: object

# 6. Sobre a ausência de dados na base

In [ ]:
df_sem_vazios = df.dropna(subset=df.columns.values) 
print('Tamanho do conjunto de dados desconsiderando dados com campos vazios:', len(df_sem_vazios))

Tamanho do conjunto de dados desconsiderando dados com campos vazios: 581012

# 7. Sobre o atributo Soil Type.
Este atributo representa a Designação do tipo de solo.

## 7.1 Quantitativo x Qualitativo
Este atributo é qualitativo.

## 7.2 Tipo de codificação utilizada para denotar este atributo:
Para denotar este atributo, foi usado o One Hot Encoding.

### Visualizando a base de dados

1. Baseando-se nos fundamentos de visualização de dados abordados na disciplina, plote cada um dos atributos preditores de maneira a enfatizar a sua distribuição, tendência central e dispersão  
1.1 Considere que o número de columas no dataset é diferente do número de atributos, conforme discussão promovida a respeito do dataset  
1.2 Se preferir, opte por complementar as informações visuais com medidas estatísticas  
2. A partir da visualização elaborada, o que pode-se dizer a respeito do balanceamento do atributo-alvo?
3. Que tipo de tarefa de Aprendizado de Máquina é sugestiva para este problema?  
3.1 Apresente métricas de desempenho compatíveis para a avaliação do problema (liste-as)  
3.2 Escolha uma das métricas apresentadas para ser utilizada como referência pela equipe